/* Estilos base para el menú */
.menu {
  width: 200px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: -10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: -250px; /* Menú oculto por defecto */
  transition: left 0.3s ease;
}

.menu.open {
  left: 0; /* Menú visible */
}

/* Estilos para los botones del menú */
.menu-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 80%;
  color: #333;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* Estilos para el botón de toggle (siempre visible) */
.menu-toggle {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

/* Estilos responsivos (opcional, si quieres ajustar algo en pantallas pequeñas) */
@media (max-width: 768px) {
  .menu-toggle {
    font-size: 20px; /* Ajuste de tamaño en pantallas pequeñas */
    padding: 8px;
  }
}