/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 250px); /* Resta el ancho del sidebar */
    text-align: right;
    background-color: white; /* O el color que prefieras */
    padding: 10px;
  }
  
  .footer-image {
    width: auto;
    height: 50px; /* Ajusta según necesites */
  }
  